.otp_wrapper{
    max-width: 400px;
}
.otp_inputs{
    display: flex;
    width: 350px;
    padding-bottom: 50px;
    justify-content: center;
    margin: auto;
    input{
        width: 50px;
        padding: 10px;
        & + input{
            margin-left: 10px;
        }
    }
}