$primary-font-family: 'Mulish', sans-serif;
$heading-font-family: "NeueMachina Ultrabold";
$montserrat-font-family:'Montserrat',sans-serif;
$primary-color: #AE00FF;
$secondry-color:#2E1853;
$white-color:#FFF;
$black-color:#000;