.cards_dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    border-radius: 8px;
    align-items: center;
    .right_text{
        text-align: right;
        .number{
            // font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 500;
        }
        .text_card{
            font-size: 15px;
            margin-bottom: 0px;
        }
    }
}
.cards_dashboard.videos{
    .number{
        color: #2E2753;
    }
}
.cards_dashboard.users {
    .number{
        color: #D93025;
    }
}
.cards_dashboard.payments{
    .number{
        color: #F9AB00;
    }
}
.cards_dashboard.categories{
    .number{
        color: #34A853;
    }
}



.latest_uploads_section{
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    margin-top: 40px;
    h3.title{
        font-size: 18px;
        font-weight: 500;
    }
    .latest_uploads_block,.notification_block{  
        padding: 30px 15px 30px 30px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
        border: 1px solid  #ECEDF2; 
    }
      .latest_uploads_block{
        .card_uploads{
            display: flex;
            border: 1px solid #ECEDF2;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 7px;
            .left_video_block{
                display: flex;
                width: 70%;
                align-items: self-start;
                gap: 12px;
                .img_block{
                    position: relative;
                    border-radius: 5px;
                    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
                    .available{
                     position: absolute;
                     right: 5px;
                     top: 5px;
                     background-color: #22B07D;
                     border-radius: 3px;
                     color: #fff;
                     font-size: 8px;
                     padding:  5px;
                     line-height: normal;
                     font-family: 'Poppins', sans-serif;
                    }
                }
                .text_block{
                    font-family: 'Poppins', sans-serif;
                    h3{
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                    p{
                        display: flex;
                        justify-content: space-between;
                        font-size: 10px;
                        margin-bottom: 0px;
                    }
                }
            }
            .right_action_icons_block{
                width: 30%;
                text-align: right;
                button.action_btn{
                    border: 0px;
                    border-radius: 8px;
                    padding: 9px;
                    line-height: 10px;
                }
                button.action_btn +  button.action_btn{
                    margin-left: 10px;
                }
            }
        }
        }

        .notification_block{
            height: 100%;
            ul.notification_list{
                list-style: none;
                padding: 0px;
                li{
                    padding: 15px 0px;
                    position: relative;
                    padding-left: 50px;
                    font-size: 15px;
                    &::before{
                        content: url('../../assets/icons/admin/briefcase.png');
                        position: absolute;
                        left: 0px;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ECEDF2;
                        border-radius: 50%;
                        padding-top: 4px;
                        top: 10px;
                    }
                    img{
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 20px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        will-change: display;
                    }
                    &:hover{
                        img{
                            display: block;
                        }
                    }
                }
            }
            button.clear_btn{
                padding: 0px;
                background-color: transparent;
                border: 0px;
                display: inline-block;
                margin-left: auto;
            }
        }
}

.user_section{
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
    margin-top: 11px;
}

.videoWrapper,.popular-section1{
background-color: #1f043b;
}