.program_listing_section {
  .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin-bottom: 0px;
    }
    .search_block {
      display: flex;
      align-items: center;
      gap: 35px;
      width: 70%;
      .search_input {
        display: flex;
        width: 57%;
        input {
          margin-right: 10px;
          width: 70%;
          padding: 8px 22px;
          border-radius: 5px;
          border: 1px solid #9a9797;
        }
        button.search_btn {
          font-size: 14px;
          background-color: #2e2753;
          border-radius: 10px;
          color: #fff;
          font-family: "poppins", sans-serif;
          border: 0px;
          padding: 10px 15px;
        }
      }
      .add_btn {
        background-color: #2e2753;
        padding: 13px 58px;
        border-radius: 8px;
        border: 0px;
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.program_cards_section {
  .row {
    padding-top: 50px;
    .col5 {
      width: 20%;
      margin-bottom: 30px;
      font-family: "poppins", sans-serif;
      .card-wrapper {
        border-radius: 15px;
        background-color: #2e2753;
        .img-wrap {
          position: relative;
          .bg-img {
            width: 100%;
            height: 183px !important;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 15px 15px 0px 0px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .free-btn,
          .label-watch,
          .premium-btn {
            position: absolute;
            top: 15px;
          }
          .free-btn,
          .premium-btn {
            right: 15px;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 14px;
            font-family: "poppins", sans-serif;
            color: #fff;
            letter-spacing: 2px;
          }
          .free-btn {
            background: rgba(56, 56, 58, 0.5);
          }
          .label-watch {
            position: absolute;
            left: 15px;
          }
          .premium-btn {
            background-color: #ae00ff;
          }
        }
        .bottom-details {
          padding: 15px;
          position: relative;
          .btn_programs{
            position: absolute;
            right: 10px;
            top: 5px;
          .dropdown-toggle  {
            background-color: transparent;
            border: 0px;
            padding: 0px;
            font-size: 0px;
            &:after{
             content: '...';
             font-size: 30px;
             border: 0px;
             transform: rotate(90deg);
            }
          }
          }
          p {
            font-size: 13px;
            font-family: "poppins", sans-serif;
            color: #b7b9d2;
            margin-bottom: 10px;
            letter-spacing: 2px;
          }
          .link-card {
            font-family: "poppins", sans-serif;
            color: #fff;
            text-decoration: none;
            line-height: normal;
            display: block;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 48px;
            font-size: 16px;
            letter-spacing: 1px;
          }
          .mins,
          .views {
            font-size: 12px;
            font-family: "poppins", sans-serif;
            letter-spacing: 2px;
          }
          .mins {
            padding: 5px 10px;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            color: #fff;
          }
          .views {
            margin-left: 8px;
            color: #808191;
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .program_cards_section {
    .row {
      .col5 {
        width: 25%;
        .card-wrapper {
          .img-wrap {
            .bg-img {
              height: 158px !important;
            }
          }
        }
      }
    }
  }
}
