.sidebar {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
  width: 350px;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  .sidebar_links {
    ul {
      padding: 0px;
      list-style: none;
      padding-top: 75px;
      li {
        border-radius: 8px;
        a {
          display: block;
          text-decoration: none;
          color: #696969;
          font-size: 15px;
          padding: 15px 10px;
          margin-bottom: 10px;
          img {
            margin-right: 20px;
          }
        }
      }
      li:hover,
      li.active {
        background-color: #2e27531a;
        a {
          font-weight: 500;
          color: #2e2753;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
    position: fixed;
    z-index: 1;
    width: 320px;
    top: 0px;
    left: -320px;
    transition: left 0.5s ease-in-out;
    will-change: left;
    &.show {
      display: block;
      left: 0px;
    }
    .sidebar_links {
      ul {
        padding-top: 50px;
        li {
          padding: 10px;
          a {
            font-size: 13px;
            img {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
